<!DOCTYPE html>
<html>
<head>

	<% include ../partials/header.ejs %>

	
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<div class="container">
		<% include ../partials/main_menu.ejs %>


		<div class="container navigationSpace">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="panel panel-default">
						<div class="panel-heading">Left session</div>
						<div class="panel-body">
						
						<center><p id="output" style="color: green;"></p></center>
						<center><p id="output" style="color: green;"> <%= u_session %></p></center>
													
						</div>
					</div>
				</div>
			</div>
		</div>

		<% include ../partials/page_footer.ejs %>
	</div>

	<% include ../partials/footer.ejs %>


  <script type="text/javascript">
        // $(document).ready(function () {
            $('#usersubmit').click(function () {
            	 alert("content: ");
                var payload = {
                    name: $('#name').val(),
                    email: $('#email').val(),
                    password: $('#password').val()
                };
               
                $.ajax({
                    url: "/register",
                    type: "POST",
                    contentType: "application/json",
                    processData: false,
                    data: JSON.stringify(payload),
                    complete: function (data) {
                    	alert(data)
                        $('#output').html(data.responseText);
                    }
                });
            });

            $('#loginbtn').click(function () {
            	 alert("content: ")
                var payload = {
                    name: $('#chat_name').val(),
                    // password: $('#user_password').val()
                };
               
                $.ajax({
                    url: "/user-login",
                    type: "POST",
                    contentType: "application/json",
                    processData: false,
                    data: JSON.stringify(payload),
                    complete: function (data) {
                    	alert(data)
                    	// window.location = "/chatroom";
                        $('#output').html(data.responseText);
                    }
                });
            });
        // });
    </script>
</body>
</html>
